<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For My Kerala</title>
    <link href="../static/css/newindex.css?v=1.0" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script>   
    	function alerter() {
                    alert("Download the app to Donate");
                    window.location="https://formykerala.in/#download";
                }
      function viewmore(LastEvaluatedKey){
        window.location="/loadmorerequests/"+LastEvaluatedKey;

      }

	</script>
  </head>
  <body>
    <div id="header">
    	<br>
      <h2>For My Kerala - Donors</h2>
     
     <h2> Full functionality of this web page is available in Mobile Phone browser </h2>
    </div>
    <br>
    <br>
    <br>
    <div id="listing">
      <div id="sorter">
	<span class="request"><span class="count">{{donors['Count']}}</span> Verified Donations </span>
	
      </div>
      {%for i in range(0,donors['Count'])%}
      <div class="card">
	<div  class="location-and-number">
	  <div class="location">
	    <p class="label">Donated By</p>
	    <p class="value">{{donors['Items'][i]['Name']}} </p>
	  </div>
	  <div class="phone-number">
	    <p class="label">Date & Time</p>
	    <p style="color:black;" class="value">{{change_epoch(donors['Items'][i]['TimeIndex'])}}</p>
	    
	  </div>
	
	  <div class="phone-number district" > 
	    <p class="label">District</p>
	    <p  class="value"><a  style="text-decoration: none; color:#157159;">{{donors['Items'][i]['District']}}</a> 
    </p>
	  </div>
	</div>
	<div class="quantity-and-notes">
	  
	  <div class="notes">
	    <p class="label">Status</p>
	      {% if donors['Items'][i]['Status_Now'] == "Verified" %}
                                <p class="value">Verified by Volunteer</p>
                                {% else %}
                               <p class="value">Not Verified</p>
			{% endif %}
	    

	  </div>
	</div>
	
      </div>
      {% endfor %}
      <br>
      
      {% if donors['Count'] >= 22%}
      
      <center>
        <div class="buttons">
        <button  class="accept-request" onclick="viewmore({{donors['LastEvaluatedKey']['TimeIndex']}})"> View More </button></center>
      </div>
        {% else %}
      <center><h2>No more Donations</h2></center>
      {% endif %}
      <br>
      <br>
    </div>
  </body>
</html>
