<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For My Kerala</title>
    <link href="../static/css/newindex.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script>   
    	function alerter() {
                    alert("Download the app to Donate");
                    window.location="https://formykerala.in/#download";
                }
      function viewmore(LastEvaluatedKey){
        window.location="/loadmorerequests/"+LastEvaluatedKey;

      }

	</script>
  </head>
  <body>
    <div id="header">
    	<br>
      <h2>For My Kerala - Active Requests</h2>
     
     <h2> Full functionality of this web page is available in Mobile Phone browser </h2>
    </div>
    <br>
    <br>
    <br>
    <div id="listing">
      <div id="sorter">
	<span class="request"><span class="count">100+</span> Active Requests </span>
	
      </div>
      {%for i in range(0,data['Count'])%}
      <div class="card">
	<div  class="location-and-number">
	  <div class="location">
	    <p class="label">Requested From</p>
	    <p class="value">{{data['Items'][i]['Name']}} </p>
	  </div>
	  <div class="phone-number">
	    <p class="label">Date & Time</p>
	    <p style="color:black;" class="value">{{change_epoch(data['Items'][i]['TimeIndex'])}}</p>
	    
	  </div>
	
	  <div class="phone-number" > 
	    <p class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;District</p>
	    <p  class="value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  style="text-decoration: none; color:#157159;">{{data['Items'][i]['District']}}</a> 
    </p>
	  </div>
	</div>
	<div class="quantity-and-notes">
	  <div class="quantity">
	    <p class="label">Quantity</p>
	    <p class="value">{%for j in data['Items'][i]['Items'].keys()%}
                                &nbsp;&nbsp;&nbsp;{{ j }} &nbsp; {{ data['Items'][i]['Items'][j] }}<br/>
                                      {% endfor %}
        </p>
	  </div>
	  <div class="notes">
	    <p class="label">Status</p>
	      {% if data['Items'][i]['Status_Now'] == "Verified" %}
                                <p class="value">Verified by Volunteer</p>
                                {% else %}
                               <p class="value">Not Verified</p>
			{% endif %}
	    

	  </div>
	</div>
	<div class="buttons">
	  <button class="accept-request" onclick="alerter()">Donate</button>
	  <a href="whatsapp://send?text= {{data['Items'][i]['Name']}} from {{data['Items'][i]['District']}} needs help with these items. %0A

	  {%for j in data['Items'][i]['Items'].keys()%}
      %0A  &nbsp;&nbsp;&nbsp;&nbsp; {{ j }} &nbsp; {{ data['Items'][i]['Items'][j] }} 
      {% endfor %}
	  %0A%0A To help them out, downlaod the ForMyKerala App from the Google Playstore http://bit.ly/ForMyKerala or visit formykerala.in" data-action="share/whatsapp/share" style="text-decoration: none;"><button class="share-button">Share</button></a>
	</div>
      </div>
      {% endfor %}
      <br>
      
      {% if data['Count'] >= 22%}
      
      <center>
        <div class="buttons">
        <button  class="accept-request" onclick="viewmore({{data['LastEvaluatedKey']['TimeIndex']}})"> View More </button></center>
      </div>
        {% else %}
      <center><h2>No more Requests</h2></center>
      {% endif %}
      <br>
      <br>
    </div>
  </body>
</html>
