<!DOCTYPE HTML>
<html>
	<head>
		<title>For My Kerala</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="../static/form/images/icons/favicon.ico"/>
		<link rel="stylesheet" href="../static/assets1/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets1/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			
		<section id="three" class="wrapper style2 special">
				<header class="major">
					<h2>Disclaimer</h2>
				</header>
				<p>This portal has been developed for effective collaboration between various stakeholders such as citizen, various NGOs and volunteers. The developers of this website makes no representation regarding the completeness, accuracy of any information and data contained on this portal or that such information and data will be error-free. Stakeholders are trying to make their best effort to support, any information received through the portal the requests received through this portal doesn’t warrant any commitment on the services. By using this site you acknowledge that you have read and agree to this</p>

			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://github.com/IODevelopers/ForMyKerala-Web" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="https://play.google.com/store/apps/details?id=in.co.iodev.formykerala" class="icon fa-android"><span class="label">Android</span></a></li>
				</ul>
				<p class="copyright"><a href="disclaimer">Disclaimer</a> <br/><a href="http://iodev.co.in">I/O Developers</a><br><a href="http://ajce.in">Amal Jyothi College of Engineering</a></p>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets1/js/jquery.min.js"></script>
			<script src="../static/assets1/js/jquery.scrolly.min.js"></script>
			<script src="../static/assets1/js/browser.min.js"></script>
			<script src="../static/assets1/js/breakpoints.min.js"></script>
			<script src="../static/assets1/js/util.js"></script>
			<script src="../static/assets1/js/main.js"></script>

	</body>
</html>