<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For My Kerala | Stock</title>
    <link href="../static/css/newindexstock.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/form/images/icons/favicon.ico"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script>
      window.onload = function () {
        
      var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        
        axisX:{
          interval: 1
        },
        axisY2:{
          interlacedColor: "rgba(1,77,101,.2)",
          gridColor: "rgba(1,77,101,.1)",
          title: "Quantity of Items"
        },
        data: [{
          type: "bar",
          name: "companies",
          axisYType: "secondary",
          color: "#157159",
          dataPoints: [

          {%for items in data['Items'].keys()%}
            { y: {{data['Items'][items]}}, label: "{{items}}" },
            
            {% endfor %}
          ]
        }]
      });
//       chart.render();
      
      }
    </script>
  </head>
  <body>
    <div id="header">
    	<br>
      <h2>For My Kerala - Available Stock</h2>
      <br>
      <a href="https://s3.ap-south-1.amazonaws.com/formykerala-exported-pdfs/Stock.pdf" class="button primary">Export Stock List</a>
      <br><br>
    </div>
   <!-- <br>
    <br>
    <br>
    <div class="container">
        <div id="chartContainer" style="height: 400px; width: 100%;"></div>
          <script src="../static/assets1/js/chart.js"></script><br><br><br>
        </div>

      
      <br><br>
-->      
<div class="container">
          <table class="highlight">
              <thead>
                <tr>
                  <th><b>Item</b></th>
                    <th><b>Quantity</b></th>
                    
                   
                </tr>
              </thead>
      
              <tbody>
                
                {%for items in data['Items'].keys()%}
                  
                  
                <tr>
                  
                  <td>{{items}}</td>
                  <td>{{data['Items'][items]}}</td>
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
<!--     <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div id="chartContainer" style="height: 400px; width: 100%;"></div>
          <script src="../static/assets1/js/chart.js"></script><br><br><br>
        </div>
        <br>
        <br> -->
    
  </body>
</html>
