<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For My Kerala</title>
    <link rel="icon" type="image/png" href="../static/form/images/icons/favicon.ico"/>
    <link href="../static/css/newindex.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script>   
    	function alerter() {
                    alert("Download the app to Donate");
                    window.location="https://formykerala.in/#download";
                }
      function viewmore(LastEvaluatedKey){
        window.location="/loadmorerequestsvolunteer/"+LastEvaluatedKey;

      }
    </script>
    <script>
            function verify(TimeIndex,PhoneNumber){
                if (confirm("Are you sure you want to Verify?")) {
                        alert("Verified by "+PhoneNumber);
                        window.location = "accept/"+TimeIndex+"&"+PhoneNumber;
                            }
    
            }
            function verify1(TimeIndex,PhoneNumber){
                if (confirm("Are you sure you want to Verify?")) {
                        alert("Verified by "+PhoneNumber);
                        window.location = "accept1/"+TimeIndex+"&"+PhoneNumber;
                }
            }
            function comment(TimeIndex){
                if (confirm("Are you sure you want to Comment?")) {
                        var x = prompt("Enter Comment");
                        window.location = "comment/"+TimeIndex+"&"+x;
                }
            }
            function comment1(TimeIndex){
                if (confirm("Are you sure you want to Comment?")) {
                        var x = prompt("Enter Comment");
                        window.location = "comment1/"+TimeIndex+"&"+x;
                }
            }
            function close1(TimeIndex){
                if (confirm("Are you sure you want to Close?")) {
                        
                        window.location = "close1/"+TimeIndex
                }
            }
          
    
    
    
        </script>
  </head>
  <body>
    <div id="header">
    	<br>
      <h2>For My Kerala - Volunteer Dashboard</h2>
     
     <h2> Volunteer Dashboard </h2>
    </div>
    <br>
    <br>
    <br>
    <div id="listing">
      <div id="sorter">
	<span class="request"><span class="count">{{donors['Count']}}</span>Donations </span>
	
      </div>
      {%for i in range(0,donors['Count'])%}
      <div class="card">
	<div  class="location-and-number">
	  <div class="location">
	    <p class="label">Requested From</p>
	    <p class="value">{{donors['Items'][i]['Name']}} </p>
	  </div>
	  <div class="phone-number">
	    <p class="label">Date & Time</p>
	    <p style="color:black;" class="value">{{change_epoch(donors['Items'][i]['TimeIndex'])}}</p>
	    
	  </div>
	
	  <div class="phone-number district" > 
	    <p class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; District</p>
	    <p  class="value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  style="text-decoration: none; color:#157159;">{{donors['Items'][i]['District']}}</a> 
    </p>
      </div>
      <div class="phone-number district" > 
            <p class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone Number</p>
            <p  class="value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:{{donors['Items'][i]['PhoneNumber']}}" style="text-decoration: none; color:#157159;">{{donors['Items'][i]['PhoneNumber']}}</a> 
        </p>
          </div>
	</div>
	<div class="quantity-and-notes">
            <div class="quantity">
                    <p class="label">Taluk</p>
                    <p class="value">{{donors['Items'][i]['Taluk']}}
                    </p>
                  </div><br><br>
	  
	  <div class="notes">
	    <p class="label">Status</p>
	      {% if donors['Items'][i]['Status_Now'] == "Verified" %}
                                <p class="value" style="color:#157159;">Verified by {{donors['Items'][i]['Verified_by']}} </p>
                                {% else %}
                               <p class="value" style="color:#711515;" >Not Verified</p>
			{% endif %}
	    

      </div><br>
      <div class="notes">
            <p class="label">Comment</p>
             
                                    <p class="value" >{{donors['Items'][i]['Comments']}}</p>
                
                
            
    
          </div>
	</div>
	<div class="buttons">
	  <button class="accept-request" onclick="verify1({{donors['Items'][i]['TimeIndex']}},{{session['PhoneNumber']}})">Verify</button>
      <button class="share-button" style="background-color: #153a71;color:white;" onclick="comment1({{donors['Items'][i]['TimeIndex']}})" >Comment</button>&nbsp;&nbsp;&nbsp;
     
	</div>
      </div>
      {% endfor %}
      <br>
      
      
      <br>
      <br>
    </div>
  </body>
</html>
