<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For My Kerala</title>
    <link href="../static/css/newindex.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script>   
    	function alerter() {
                    alert("Download the app to Donate");
                    window.location="https://formykerala.in/#download";
                }
      function viewmore(LastEvaluatedKey){
        window.location="/loadmorerequestsvolunteer/"+LastEvaluatedKey;

      }
    </script>
    <script>
            function verify(TimeIndex,PhoneNumber){
                if (confirm("Are you sure you want to Verify?")) {
                        alert("Verified by "+PhoneNumber);
                        window.location = "accept/"+TimeIndex+"&"+PhoneNumber;
                            }
    
            }
            function verify1(TimeIndex,PhoneNumber){
                if (confirm("Are you sure you want to Verify?")) {
                        alert("Verified by "+PhoneNumber);
                        window.location = "accept1/"+TimeIndex+"&"+PhoneNumber;
                }
            }
            function comment(TimeIndex){
                if (confirm("Are you sure you want to Comment?")) {
                        var x = prompt("Enter Comment");
                        window.location = "comment/"+TimeIndex+"&"+x;
                }
            }
            function comment1(TimeIndex){
                if (confirm("Are you sure you want to Comment?")) {
                        var x = prompt("Enter Comment");
                        window.location = "comment1/"+TimeIndex+"&"+x;
                }
            }
            function close1(TimeIndex){
                if (confirm("Are you sure you want to Close?")) {
                        
                        window.location = "close1/"+TimeIndex
                }
            }
        
        </script>
  </head>
  <body>
    <div id="header">
    	<br>
      <h2>For My Kerala - Volunteer Dashboard</h2>
     
     <h2> Volunteer Dashboard </h2>
    </div>
    <br>
    <br>
    <br>
    <div id="listing">
      <div id="sorter">
	<span class="request"><span class="count">100+</span> Active Requests </span>
	
      </div>
      {%for i in range(0,android['Count'])%}
      <div class="card">
	<div  class="location-and-number">
	  <div class="location">
	    <p class="label">Requested From</p>
	    <p class="value">{{android['Items'][i]['Name']}} </p>
	  </div>
	  <div class="phone-number">
	    <p class="label">Date & Time</p>
	    <p style="color:black;" class="value">{{change_epoch(android['Items'][i]['TimeIndex'])}}</p>
	    
	  </div>
	
	  <div class="phone-number district" > 
	    <p class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; District</p>
	    <p  class="value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  style="text-decoration: none; color:#157159;">{{android['Items'][i]['District']}}</a> 
    </p>
      </div>
      <div class="phone-number district" > 
            <p class="label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone Number</p>
            <p  class="value">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:{{android['Items'][i]['PhoneNumber']}}" style="text-decoration: none; color:#157159;">{{android['Items'][i]['PhoneNumber']}}</a> 
        </p>
          </div>
	</div>
	<div class="quantity-and-notes">
            <div class="quantity">
                    <p class="label">Address</p>
                    <p class="value">{{android['Items'][i]['Address']}}
                    </p>
                  </div><br><br>
	  <div class="quantity">
	    <p class="label">Quantity</p>
	    <p class="value">{%for j in android['Items'][i]['Items'].keys()%}
                                &nbsp;&nbsp;&nbsp;{{ j }} &nbsp; {{ android['Items'][i]['Items'][j] }}<br/>
                                      {% endfor %}
        </p>
	  </div>
	  <div class="notes">
	    <p class="label">Status</p>
	      {% if android['Items'][i]['Status_Now'] == "Verified" %}
                                <p class="value" style="color:#157159;">Verified by {{android['Items'][i]['Verified_by']}} </p>
                                {% else %}
                               <p class="value" style="color:#711515;" >Not Verified</p>
			{% endif %}
	    

      </div><br>
      <div class="notes">
            <p class="label">Comment</p>
             
                                    <p class="value" >{{android['Items'][i]['Comments']}}</p>
                
                
            
    
          </div>
	</div>
	<div class="buttons">
	  <button class="accept-request" onclick="verify({{android['Items'][i]['TimeIndex']}},{{session['PhoneNumber']}})">Verify</button>
      <button class="share-button" style="background-color: #153a71;color:white;" onclick="comment({{android['Items'][i]['TimeIndex']}})" >Comment</button>&nbsp;&nbsp;&nbsp;
      {% if android['Items'][i]['Status_Now'] == "Closed" %}
      <button class="share-button" style="background-color: white;color:#711515;" >Closed</button>
      {% else %}
      <button class="share-button" style="background-color: #711515;color:white;" onclick="close1({{android['Items'][i]['TimeIndex']}})">Close</button>
      {% endif %}
	</div>
      </div>
      {% endfor %}
      <br>
      
      {% if android['Count'] >= 22%}
      
      <center>
        <div class="buttons">
        <button  class="accept-request" onclick="viewmore({{android['LastEvaluatedKey']['TimeIndex']}})"> View More </button></center>
      </div>
        {% else %}
      <center><h2>No more Requests</h2></center>
      {% endif %}
      <br>
      <br>
    </div>
  </body>
</html>
